:root {
    --darkgray: #212329;
    --brightred: #F9423D;
    --white: #fff;
    --lightred: #f9433dcc;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}